.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;

  select,
  input {
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    border: none;
    background-color: #444;
    color: white;
    flex: 1;
  }

  button {
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .full-capacity-button {
    background-color: #cc0000;
    color: white;

    &:hover {
      background-color: #760000;
    }
  }

  .clear-filters-button {
    background-color: #555;
    color: white;

    &:hover {
      background-color: #333;
    }
  }
}

.organization-select {
  max-width: 80%;
}