


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}


p {
  margin-bottom: 1rem;
}


a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}


img {
  max-width: 100%;
  display: block;
}


ul,
ol {
  list-style: none;
}


input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}


button {
  cursor: pointer;
}
